<?php

return [
    'app' => [
        'version' => '1.00',
        'loginNote' => '・注意事項
        ログインは弊社から通達したユーザーID（jcis-*****-***）とパスワードをそのまま入力してください。どちらも半角です。コピー＆ペーストする際は前後に余計なスペース等を含まないようご注意ください。
        セキュリティの観点から多重ログインを許容しておりません。ログインエラーになった際は、入力誤りだけでなく他の人が使用していないかもご確認ください。
        使用後は必ずログアウトしてください。1時間操作がない場合、自動的にログアウトされます。
        不特定多数の人が同じパソコンを使う環境ではログイン情報を保存しないでください。',

        'homeNote' =>'Web即時検索：調査対象の法人名・個人名（各10件まで）を画面に入力して検索を実行します。
            登記情報検索：登記情報PDFファイルをアップロードして検索を実行します。
            一括検索：CSVファイルをアップロードして検索を実行します。
            利用明細：今月検索件数、年間検索件数、デポジット残高を確認できます。',
    ],
    'csvBulkSearch' => [
        'upload' => [
            'note' => 
                '注意事項

                アップロード可能なファイルは、定型フォーマットCSVファイルとなります。
                CSVファイルは5,000件が上限となります。上限を超える件数を検索したい場合は分割のご対応をお願いします。
                CSVファイルの雛形につきましては弊社までお問い合わせください。'
        ],
        'confirm' => [
            //<BR>で改行
            'note' => 
                '注意事項<BR>
                <BR>
                検索件数に相違がないことをご確認ください。<BR>
                検索内容に不備が存在するまま検索を実行しても件数カウントを取り消すことはできません。<BR>
                <BR>
                <a href="https://jcisdb-v3.s3.ap-northeast-1.amazonaws.com/jcisdb-v3_terms.pdf" target="_blank" rel="noopener noreferrer" class="text-green-500 hover:text-green-700 underline">▸一括検索利用規約</a>',
        ],
    ],
    'registryBulkSearch' => [
        'upload' => [
            'note' => 
                '注意事項

                アップロード可能なファイルは、登記簿PDFファイル、複数登記簿PDFを格納したzipファイル、確認画面でダウンロード可能なCSVファイルとなります。
                登記簿PDFは10ファイル1,000件が上限となります。上限を超える件数を検索したい場合は分割のご対応をお願いします。
                登記簿PDFは「一般財団法人民亊法務協会」が提供する「商業・法人登記情報PDF」のみに対応しています。それ以外の形式では正常に読み取れませんのでご注意ください。',
        ],
        'confirm' => [
            //<BR>で改行
            'note' => 
                '注意事項<BR>
                <BR>
                【検索用CSVデータ】のアップロードは、当画面でダウンロードしたCSVファイルの再アップロード専用です。<BR>
                ※通常のCSVファイルは読み込めません。<BR>
                <BR>
                検索件数に相違がないことをご確認ください。<BR>
                登記簿PDFの場合、OCRの読み取りエラー等で文字化けや誤抽出が発生する場合がありますので、<BR>
                実行前に必ず「検索対象ダウンロード」から抽出CSVをダウンロードして内容の確認を行ってください。<BR>
                検索内容に不備が存在するまま検索を実行しても件数カウントを取り消すことはできません。<BR>',
        ],
    ],
];